
<html lang="pt-br">
<head>
<title>Sistema de controle de estoque</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--css-->
<link rel="stylesheet" href="js/datatables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="js/datatables/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="js/datatables/css/style_dataTable.css">

<link rel="stylesheet" href="css/grade.css">
<link rel="stylesheet" href="css/auxiliar.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style-m.css">

</head>
<body>
	<div class="site">
 	<div class="base-topo">
	<div class="conteudo d-flex justify-content-space-between">
		<a href="" class="logo"><img src="img/logo.png"></a> <a href="" class="mobmenu"><i class="fas fa-bars"></i></a>
		<ul class="menu">
			<li><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
			<li class="sub"><a href="" rel="sub"><i	class="fas fa-arrow-circle-right"></i> Cadastros</a>
				<ul>
					<li><a href="lst_cliente.html">Cliente</a></li>
					<li><a href="lst_produto.html">Produto</a></li>

				</ul>
			</li>
		<li class="sub"><a href="" rel="sub"><i class="fas fa-boxes"></i>	Estoque</a>
			<ul>
				<li><a href="entrada_produto.html">Entrada de produtos</a></li>
				<li><a href="entrada_saida.html">Saida de produto</a></li>
			</ul>
		</li>
	<li><a href="form_venda.html"><i class="fas fa-arrow-circle-right"></i> Vendas</a></li>
	
	<li class="sub"><a href="" rel="sub"><i	class="fas fa-arrow-circle-right"></i> Consultas</a>
		<ul>
			<li><a href="entrada_consulta.html">Entradas</a></li>
			<li><a href="saida_consulta.html">Saídas</a></li>
			<li><a href="movimentacao_consulta.html">Movimentações</a></li>
			<li><a href="venda_consulta.html">Vendas</a></li>
		</ul>
	</li>
	
	<li><a href=""><i class="fas fa-sign-out-alt"></i> Sair</a></li>
</ul>	
</div>
</div>

            
  <div class="conteudo">
	<div class="base-home">
		<div class="rows">
			<div class="centro">
				<div class="caixa">
					<span class="titulo text-center"><i class="fas fa-home"></i> Seja
						bem vindo ao sistema de Controle de Estoque</span>
					<div class="rows px-4 pt-5">
						<div class="col-12">
							<h3 class="h4 text-azul">RELATÓRIOS DISPONÍVEIS</h3>
						</div>
						<div class="col-3 mb-3 d-flex">
							<div class="caixa">
								<i class="fas fa-arrow-circle-right mb-0 mt-4 h1"></i>
								<small class="d-block pt-1">PRODUTOS CADASTRADOS</small>
								<span class="h3 d-block mb-4"><b>100</b></span> 
							</div>
						</div>
						<div class="col-3 mb-3 d-flex">
							<div class="caixa">
								<i class="fas fa-boxes mb-0 mt-4 h1"></i>
								<small	class="d-block pt-1">VALOR ATUAL DO ESTOQUE</small>
								<span class="h3 d-block mb-4"><b>200</b></span> 
							</div>
						</div>
						<div class="col-3 mb-3 d-flex">
							<div class="caixa">
								<i class="fas fa-dollar-sign mb-0 mt-4 h1"></i>
								<small	class="d-block pt-1">PREÇO MÉDIO</small>
								<span class="h3 d-block  mb-4"><b>50,00</b></span>
							</div>
						</div>
						<div class="col-3 mb-3 d-flex">
							<div class="caixa">								
								<i class="fas fa-file-excel mb-0 mt-4 h1"></i>
								<small	class="d-block pt-1">VERSÃO DA PLANILHA</small>
								<span class="h3 d-block  mb-4"><b>1.6.0</b></span>
							</div>
						</div>
					</div>

					<div class="rows px-4 pt-0">
						<div class="col-12">
							<h3 class="h4 text-azul">PROBLEMAS DETECTADOS</h3>
						</div>
						<div class="col-3 mb-3 d-flex">
							<div class="caixa vermelho">
								<span class="titulo">INTENS COM ESTOQUE ALTO</span> 
								<span class="h2 d-block mb-0 pt-3"><b>50</b></span> 
								<small class="pb-4 d-block">PRODUTOS EM EXESSO</small>
							</div>
						</div>
						<div class="col-3 mb-3 d-flex">
							<div class="caixa vermelho">
								<span class="titulo">PRODUTOS SEM SAÍDA</span> 
								<span class="h2 d-block mb-0 pt-3"><b>20</b></span> 
								<small class="pb-4 d-block">MOVIMENTAÇÃO RUIM</small>
							</div>
						</div>
						<div class="col-3 mb-3 d-flex">
							<div class="caixa vermelho">
								<span class="titulo">ITENS COM ESTOQUE BAIXO</span>
								<span class="h2 d-block mb-0 pt-3"><b>2</b></span>
								<small class="pb-4 d-block">MARCADOS COMO - COMPRAR AGORA</small>
							</div>
						</div>
						<div class="col-3 mb-3 d-flex">
							<div class="caixa vermelho">
								<span class="titulo">ITENS FORA DA VALIDADE</span> 
								<span class="h2 d-block mb-0 pt-3"><b>40</b></span> 
								<small class="pb-4 d-block">PRODUTOS FORA DA VALIDADE</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>         
</div>
	
		 
		<script src="js/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://kit.fontawesome.com/9480317a2f.js"></script>
		<script src="js/js.js"></script>
		<script src="js//componentes/js_modal.js"></script>
		<script src="js/datatables/js/dataTables.responsive.min.js"></script>
		<script src="js/datatables/js/jquery.dataTables.min.js"></script>
		<script src="js/componentes/js_data_table.js"></script> 
		
</body>
</html>